# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
out
.turbo
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test / coverage
coverage

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Expo
apps/mobile-store/.expo
apps/mobile-store/dist
apps/mobile-admin/.expo
apps/mobile-admin/dist
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Misc
*.pem
